{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            <p> {{ message }} </p>
        </div>
    {% endfor %}
    
    {% for message in app.flashes('message') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% if error %}
        <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form class="py-5 mt-5 text-center" method="post">
    
        
    	<div class="container">
        	<div class="row justify-content-center">
                <h1 class="h3 mb-3 border rounded font-weight-normal textCenter">Veuillez vous connecter :</h1>
                <label class="h5" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label class="mt-2 pt-2 h5" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                <button class="btn btn-lg btn-primary mt-3" name="submit" type="submit">Se connecter</button>
            </div>
    	</div>
    </form>
    <div class="container">
    	<div class="row d-flex justify-content-center">
        	<div class="col-6" align="left">
        		<a href="{{ path('forgottenpassword') }}"><button name="mdpoublie" class="btn btn-outline-danger">Mot de passe oublié</button></a>
        	</div>
        	<div class="col-6" align="right">
          		<a href="{{ path('createaccount') }}"><button name="creerCompte" class="btn btn-outline-secondary">Demande de création de compte</button></a>
        	</div>
    	</div>
    </div>	
{% endblock %}
