{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block body %}
                <form class="py-5 mt-5 text-center" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    
                	<div class="container">
                    	<div class="row justify-content-center">
                            <h1 class="h3 mb-3 border border-info bg-secondary text-info rounded font-weight-normal textCenter">Veuillez vous connecter :</h1>
                            <label class="h5 text-info" for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label class="mt-2 pt-2 h5 text-info" for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                            <button class="btn btn-lg btn-primary mt-3" type="submit">Se connecter</button>
                        </div>
           			</div>
            	</form>
            	<a href="{{ path('forgottenpassword') }}"><button class="btn btn-secondary">Mot de passe oublié</button></a>
            	<a href="{{ path('createaccount') }}"><button class="btn btn-secondary">Faire une demande de création de compte</button></a>
{% endblock %}
