{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center">
        <p> Votre mot de passe a été modifié avec succès ! </p>
    </div>
{% endfor %}

<div class="container-fluid" style="padding-bottom:100px;">
    <div class="row">
    	<div class="col-sm-4 col-md-4" style="padding-top:10px;">
            <div class="card border-dark">
              	<div class="card-body">
                	<center><u><h5 class="card-title">Parcelle</h5></u></center>
                	{% if nb_parcelle == 0 %}
        				<p class="card-text"><i class="fas fa-circle text-danger"></i> <b style="color:red;"> {{ nb_parcelle }} parcelle connectée</b></p>
        			{% elseif nb_parcelle == 1 %}
        				<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_parcelle }}</b> parcelle connectée </p>
        			{% else %}
        				<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_parcelle }}</b> parcelles connectées </p>
        			{% endif %}
        			<div class="table-responsive">
                    	<table class="table text-center">
            				<tr class="card-text">Liste des parcelles:</tr>
            				{% if donnees_parcelle is null%}
                            	<tr><b style="color:red;">Aucune parcelle</b></tr>
                            {%else%}
                				<tr>
        							<th class="card-text"> Nom: </th>
    								<th class="card-text"> piquets </th>
    								<th class="card-text"> opérateurs </th>
    								<th class="card-text"> électrovannes </th>
                				</tr>
                			    {% for i in 0..nb_parcelle-1 %}
                			    	<tr>
                			    		<td class="card-text">{{ donnees_parcelle[i] }} </td>
            							<td class="card-text">{{ nbParcelle_piquet[i] }} </td>
            							<td class="card-text">{{ nbParcelle_operateur[i] }} </td>
            							<td class="card-text">{{ nbParcelle_vanne[i] }} </td>
        							</tr>
                                {% endfor %}
        					{% endif %}
        	            </table>
    	            </div>
              	</div>
        	</div>
    	</div>
        <div class="col-sm-4 col-md-4" style="padding-top:10px;">
            <div class="card border-dark">
              	<div class="card-body">
                	<center><u><h5 class="card-title">Electrovannes</h5></u></center>
                	{% if nb_vanne == 0 %}
        			<p class="card-text"><i class="fas fa-circle text-danger"></i> <b style="color:red;">{{ nb_vanne }} électrovanne connectée</b></p>
        			{% elseif nb_vanne == 1 %}
        			<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_vanne }}</b> électrovanne connectée</p>
        			{% else %}
        			<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_vanne }}</b> électrovannes connectées</p>
        			{% endif %}
                	<div class="table-responsive">
            			<table class="table table-responsive text-center">
            				<tr class="card-text">Données ElectroVannes: </tr>
            				{% if donnees_vanne is null%}
                            	<tr><b style="color:red;">Aucune donnée</b></tr>
                            {%else%}
                				<tr>
                					<th class="card-text"> Id </th>
                					<th class="card-text"> Batterie </th>
                					<th class="card-text"> Date </th>
                					<th class="card-text"> Parcelle </th>
                				</tr>
                				{% for donnees in donnees_vanne %}
                    				<tr>
                                        <td class="card-text"> {{ donnees.idVanne }} </td>
                                        <td class="card-text"> {{ donnees.batterie }}%</td>
                                        <td class="card-text"> {{ donnees.horodatage.format("Y/m/d h:i:s") }} </td>
            							<td class="card-text"> {{ donnees.idVanne.idParcelle }} </td>
                				    </tr>
            				    {% endfor %}
            				{% endif %}
                        </table>
                    </div>
              	</div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4" style="padding-top:10px;">
        	<div>
                <div class="card border-dark">
                  	<div class="card-body">
                    	<center><u><h5 class="card-title">Armoire</h5></u></center>
                    	{% if etat_armoire == 0 %}
            				<p class="card-text"><i class="fas fa-circle text-danger"></i> <b style="color:red;"> armoire déconnectée (éteinte)</b></p>
            			{% elseif etat_armoire == 1 %}
            				<p class="card-text"><i class="fas fa-circle text-danger"></i> <b style="color:red;"> armoire déconnectée (mode manuel) </b></p>
            			{% elseif etat_armoire == 2 %}
            				<p class="card-text"><i class="fas fa-circle text-success"></i> armoire connectée</p>
            				<p class="card-text">Batterie: {% if donnees_armoire is null%}<b style="color:red;">Aucune donnée</b>{%else%}<b>{{ donnees_armoire.batterie }}%</b>{% endif %}</p>
            			{% else %}
            				<p class="card-text"><i class="fas fa-circle text-danger"></i> <b style="color:red;">ERREUR DE DONNEE</b> </p>
            			{% endif %}
                  	</div>
            	</div>
        	</div>
    	</div>
    </div>
    <div class="col-sm col-md" style="padding-top:10px;">
        <div class="card border-dark">
        	<div class="card-body">
    			<center><u><h5 class="card-title">Piquets</h5></u></center>
    			{% if nb_piquet == 0 %}
    			<p class="card-text"><i class="fas fa-circle text-danger"></i> <b style="color:red;">{{ nb_piquet }} piquet connecté</b></p>
    			{% elseif nb_piquet == 1 %}
    			<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_piquet }}</b> piquet connecté</p>
    			{% else %}
    			<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_piquet }}</b> piquets connectés</p>
    			{% endif %}
    			{#<p class="card-text">Batterie: {% if donnees_piquet is null%}<b style="color:red;">Aucune donnée</b>{%else%}<b>{{ donnees_piquet.batterie }}%</b>{% endif %}</p>#}
    			<div class="table-responsive">
        			<table class="table table-responsive text-center">
        				<tr class="card-text">Données piquets: </tr>
        				{% if donnees_piquet is null%}
                        	<tr><b style="color:red;">Aucune donnée</b></tr>
                        {%else%}
            				<tr>
            					<th class="card-text"> Id </th>
            					<th class="card-text"> Batterie </th>
            					<th class="card-text"> Date </th>
            					<th class="card-text"> Température </th>
            					<th class="card-text"> Humidité </th>
            					<th class="card-text"> Parcelle </th>
            				</tr>
            				{% for i in 0..nbpiquet_print-1 %}
                				<tr>
                                    <td class="card-text"> {{ donnees_piquet[i].idPiquet }} </td>
                                    <td class="card-text"> {{ donnees_piquet[i].batterie }}% </td>
                                    <td class="card-text"> {{ donnees_piquet[i].horodatage.format("Y/m/d h:i:s") }} </td>
                                    <td class="card-text"> {{ donnees_piquet[i].temperature }} </td>
                                    <td class="card-text">
                                    	<table class="table text-center">
                                            {% for hum in donnees_piquet[i].humidite %}
                                        		<tr class="card-text"> {{ hum }}% </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
        							<td class="card-text"> {{ parcellePiquet[i] }} </td>
            				    </tr>
        				    {% endfor %}
        				{% endif %}
                    </table>
                </div>
          	</div>
        </div>
    </div>
</div>
<!-- <img src="{{ asset('img/herbe.png') }}" width="100%" class="d-inline-block fixed-bottom">-->
{% endblock %}