{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 jutify-content-center">
            <div class="card border-dark">
            	<div class="card-body">
        			<center><u><h5 class="card-title">Piquets</h5></u></center>
        			<p class="card-text"><i class="fas fa-circle text-success"></i> <b>{{ nb_piquet }}</b> piquets connectés</p>
        			<p class="card-text">Date de la dernière donnée reçue : <b>{{ donnees_piquet.horodatage.format('Y/m/d H:i:s') }}</b></p>
        			<p class="card-text">Dernière température reçue : <b>{{ donnees_piquet.temperature }} °C</b></p>
        			<p class="card-text">Température minimale : <b>{{ temperature_minimale.temperature }} °C</b></p>
        			<p class="card-text">Température maximale : <b>{{ temperature_maximale.temperature }} °C</b></p>
        			<table class="table text-center">
        				<tr class="card-text">Derniers pourcentage d'humidité reçus : </tr>
        				<tr>
        					<th> 1 </th>
        					<th> 2 </th>
        					<th> 3 </th>
        					<th> 4 </th>
        				</tr>
        				{% for humidite in donnees_piquet.humidite %}
        					<td>{{ humidite }} %</td>
    					{% endfor %}
    	            </table>
              	</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark">
              	<div class="card-body">
                	<center><u><h5 class="card-title">Electrovannes</h5></u></center>
                	<p class="card-text">Date de la dernière donnée reçue : <b>{{ donnees_vanne.horodatage.format('Y/m/d H:i:s') }}</b></p>
                	<p class="card-text">Dernières coordonnées : 
                		<table class="table text-center">
                				<tr>
                					<th> Latitude </th>
                					<th> Longitude </th>
                				</tr>
                				<tr>
                					<td>{{ donnees_vanne.latitude }}</td>
                					<td>{{ donnees_vanne.longitude }}</td>
                				</tr>
        	            </table>
        	    	</p>
              	</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark">
              	<div class="card-body">
                	<center><u><h5 class="card-title">Armoire</h5></u></center>
                	<p class="card-text">Date de la dernière donnée reçue : <b>{{ donnees_armoire.horodatage.format('Y/m/d H:i:s') }}</b></p>
                	<p class="card-text">Dernières coordonnées : 
                		<table class="table text-center">
                				<tr>
                					<th> Latitude </th>
                					<th> Longitude </th>
                				</tr>
                				<tr>
                					<td>{{ donnees_armoire.latitude }}</td>
                					<td>{{ donnees_armoire.longitude }}</td>
                				</tr>
        	            </table>
        	    	</p>
              	</div>
        	</div>
    	</div>
    </div>
</div>
    <img src="{{ asset('img/herbe.png') }}" width="100%" class="d-inline-block relative-bottom">
{% endblock %}