{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Administrateur{% endblock %}
{% block body %}
    <div class="py-5 mt-5">
        <h1>Administration</h1>
        {{ form(form) }}
    </div>
    
    <table class="table">
		<thead>
        	<tr>
          		<th scope="col">ID</th>
          		<th scope="col">Email</th>
          		<th scope="col">ID Groupe</th>
          		<th scope="col">Actions</th>
        	</tr>
		</thead>
		<tbody>
	        {% for operateur in operateurs %}
            {# Contenu de la boucle #}
        	<tr>
          		<th scope="row">{{ operateur.id }}</th>
          		<td>{{ operateur.email }}</td>
          		<td>{{ operateur.idgroupe.id }}</td>
          		<td><button type="button" class="btn btn-success"><a href="{{ path('edit', {'id':operateur.id })  }}">Modifier</a></button></td>
          		<td><button type="button" class="btn btn-success"><a href="{{ path('delete', {'id':operateur.id })  }}">Supprimer</a></button></td>
        	</tr>
            {% endfor %}
		</tbody>
	</table>
{% endblock %}