<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        	
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			
            <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}" type="text/css" />
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
	    {% endblock %}
	    <nav class="navbar navbar-inverse">
			<div class="container-fluid">
  				<div class="navbar-header">
  					<a class="navbar-brand" href="{{ path('home') }}">
      					<img src="{{ asset('img/Logo_Capou.png') }}" alt="Logo" width="70" height="70" class="d-inline-block align-top">
    				</a>
     				<a class="navbar-brand" href="{{ path('home') }}"><h1> Lycée Capou </h1></a>
    			</div>
    			{% if app.user %}
    				<ul class="nav navbar-nav">
                        <li><a href="{{ path('pilotage') }}"> Pilotage </a></li>
                        <li><a href="{{ path('logs') }}"> Logs </a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
    					<li><a href="{{ path('account') }}"><span class="glyphicon glyphicon-user"></span> Votre Compte </a></li>
    					<li><a href="{{ path('app_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion </a></li>
    				</ul>
				{% else %}
    				<ul class="nav navbar-nav navbar-right">
                    	<li><a href="{{ path('register') }}"><span class="glyphicon glyphicon-user"></span> Inscription </a></li>
                    	<li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Connexion </a></li>
                    </ul>
                {% endif %}
			</div>
		</nav>
    </head>
    <body>
        {% block body %}{% endblock %}
        <!--  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!--Bootstrap Bundle--><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script type="text/javascript">
            {% block javascript %}{% endblock %}
        </script>   
    </body>
</html>
